* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* overflow-x: hidden; */
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

/* Typography */

h1 {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0.38px;
  text-align: left;
  /* font-weight: bold; */
  color: white;
}

h2 {
  letter-spacing: 0.38px;
  font-size: 0.9rem;
  font-weight: 200;
  text-align: center;
}

h3 {
  font-size: 1.5rem;
  padding-bottom: 1.5rem;
  padding-top: 1rem;
}

h4 {
  font-size: 1.1rem;
}

p {
  letter-spacing: 0.38px;
  /* line-height: 24px; */
  font-size: 0.9rem;
  font-weight: 200;
  text-align: left;
  color: white;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

#map {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
}

.marker {
  border: none;
  cursor: pointer;
  height: 30px;
  width: 30px;
  background-image: url(assets/images/marker.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.mapboxgl-popup {
  padding-bottom: 50px;
}

/* Pop up styling */
/* Marker tweaks */
.mapboxgl-popup-close-button {
  color: white;
  font-size: 2rem;
  padding-right: 10px;
  padding-top: 10px;
}

.mapboxgl-popup-content {
  font-family: "Source Sans Pro", "Helvetica Neue", sans-serif;
  width: 250px;
  height: auto;
  padding: 0;
  padding-bottom: 10px;
  border-radius: 10px;
}

.mapboxgl-popup-content h3 {
  background: rgb(88, 86, 214);
  color: #fff;
  margin: 0;
  padding: 10px;
  border-radius: 3px 3px 0 0;
  font-weight: 700;
}

.mapboxgl-popup-content h4 {
  font-weight: 200;
  font-size: 0.9rem;
  color: darkgray;
  padding: 10px 10px 0px 10px;
}

.mapboxgl-popup-content p {
  font-size: 1rem;
  padding: 10px;
  text-align: left;
  color: #404040;
}

.mapboxgl-popup-content a {
  font-size: 1rem;
  padding-left: 10px;
  color: rgb(88, 86, 214);
}

.mapboxgl-popup-content a:active {
  color: red;
}

.mapboxgl-popup-content p {
  color: #404040;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
  border-bottom-color: rgb(88, 86, 214);
}

.mapboxgl-ctrl-group:not(:empty) {
  box-shadow: 1px 1px 10px rgb(88 86 214);
}

/* Content Overlay */
.overlay {
  position: relative;
  top: 80vh;
  background: rgb(88, 86, 214);
  background: linear-gradient(
    90deg,
    rgba(88, 86, 214, 1) 0%,
    rgba(130, 129, 236, 1) 100%
  );
  height: 100%;
  border-radius: 16px 16px 0 0;
  text-align: center;
}

.overlay__container {
  padding: 0 30px;
}

.grip-line {
  color: white;
  font-weight: 800;
}

.brand img {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.content-container {
  padding: 20px 0px;
}
/* Buttons */

.button-strip {
  margin: 30px 0;
}
.solid-button, .button-strip a {
  color: rgb(88, 86, 214);
  border-color: rgb(88, 86, 214);
  background-color: #ffffff;
  border-radius: 8px;
  padding: 7.5px 16px;
  text-decoration: none;
  margin: 15px 0px;
  border: 1px solid #ffffff;
}

a:hover {
  color: rgba(255, 255, 255, 0.6);
  border-color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
}

a:focus {
  color: #ffffff;
  border-color: #ffffff;
}


/* Contact */
.contact-form {
  text-align: left;
  color: white;
  font-size: 0.9rem;
  padding: 30px 0px;
}


/* .about-us {
  display: none;
} */

.form-text {
  color: rgba(255, 255, 255, 0.6);
}

.form-contact-info {
  padding-top: 50px;
  padding-bottom: 10px;;
}

.form-label {
  padding-top: 15px;
  margin-bottom: 0.25rem;
}

.comments-label {
  margin-bottom: 0px;
}

/*********************** Media Queries */

/* Tablet */
@media screen and (min-width: 780px) {
  .overlay {
    top: 85vh;
    text-align: center;
  }
  
  .overlay__container {
    padding: 0 80px;
  }

  h4 {
    font-size: 1.1rem;
  }
}

/* Desktop */
@media screen and (min-width: 992px) {
  .overlay {
    position: relative;
    left: 0;
    top: 0;
    width: 350px;
    /* height: 100%; */
    border-radius: 0 16px 16px 0;
    text-align: center;
  }

  .overlay__container {
    padding: 50px 30px 0px 30px;
  }

  .button-strip {
    margin: 30px 0;
  }

  .grip-line {
    display: none;
  }

  h4 {
    font-size: 0.9rem;
  }
}

/* Desktop */
@media screen and (min-width: 1200px) {
  .overlay {
    width: 450px;
  }

  .overlay__container {
    padding: 50px 30px 0px 30px;
  }

  .button-strip {
    margin: 30px 0;
  }

  .grip-line {
    display: none;
  }

  h4 {
    font-size: 1rem;
  }

  p {
    font-size: 1rem;
  }

}