*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* overflow-x: hidden; */
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#map { 
  position: absolute; 
  top: 0; 
  bottom: 0; 
  width: 100%; }

  
  .marker {
    border: none;
    cursor: pointer;
    height: 30px;
    width: 30px;
    background-image: url(assets/images/marker.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }